<h1>Make your form here</h1>
<form method="POST" action="/pirates">
  <p>Pirate: <input type="text" name="pirate[name]"></p>
  <p>Pirate Weight: <input type="text" name="pirate[weight]"></p>
  <p>Pirate Height: <input type="text" name="pirate[height]"></p>
  <label for="ship_name_1">Ship Name:</label>
  <input type="text" id="ship_name_1" name="pirate[ships][][name]"><br>
  <p>Ship Type: <input type="text" name="pirate[ships][][type]"></p>
  <p>Ship Booty: <input type="text" name="pirate[ships][][booty]"></p>
  <p>Ship Name: <input type="text" name="pirate[ships][][name]"></p>
  <p>Ship Type: <input type="text" name="pirate[ships][][type]"></p>
  <p>Ship Booty: <input type="text" name="pirate[ships][][booty]"></p>
  <input type="submit">
</form>
  <label for="male">Male</label>
  <input type="radio" name="gender" id="male" value="male"><br>